{% extends '/template.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_row(form.nomP) }}</div>
        <div class="col">{{ form_row(form.typeTerrain) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.surface) }}</div>
        <div class="col">{{ form_row(form.valeurVenale) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.adresse) }}</div>
        <div class="col">{{ form_row(form.date) }}</div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block title %}

{% endblock %}

{% block PageTitre  %}
    <h1>Create new CFPNB</h1>
{% endblock %}