{% extends 'template.html.twig' %}

{% block title %}recette Non Fisscale!{% endblock %}

{% block body %}
    <div class=" m-3">
        <table class="table table-striped">
            <thead class="text-center " style="background-color: rgb(130, 106, 251);color:#fff;">
            <tr>
                <th scope="col">Propriete</th>
                <th scope="col">Nom </th>
                <th scope="col">Montant </th>
                <th scope="col">Date</th>
                <th scope="col">Details</th>
                <th scope="col">Modifier</th>
                
                {% if is_granted('ROLE_SUPER_ADMIN') %}  
                  <th scope="col">Supprimer</th>
                {% endif %}
                

            </tr>
            </thead>
            <tbody class="text-center">
            {% for ristourne in ristournes %}
                <tr>
                    <td>{{ ristourne.propriete ? ristourne.propriete.nom  }} {{ ristourne.propriete ? ristourne.propriete.prenom }}</td>
                    <td>{{ ristourne.nom }}</td>
                    <td>{{ ristourne.montant|number_format(0, ',', ' ') }} fcfa</td>
                    <td>{{ ristourne.date|date('d/m/y ') }}</td>
                    <td><a href="{{path('detail_ristournes', {propriete_id: ristourne.propriete.id})}}" class="btn btn-primary mt-2"><i class="fa-solid fa-circle-info"></i></a></td>
                    <td><a href="{{ path('edit_ristournes', {id:ristourne.id }) }}" class="btn btn-primary mt-2"> <i class="fa-solid fa-user-pen"></i></a></td>
                   
                    {% if is_granted('ROLE_SUPER_ADMIN') %}  
                      <td><a href="{{ path('delete_ristournes', {id:ristourne.id}) }}" class="btn btn-danger mt-2" onclick="return confirm('Etes-vous sur de suprimer cette ristourne')"><i class="fa-solid fa-trash"></i></a></td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if isPaginated %}
        <div class="row mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page != 1 %}
                        <li class="page-item"><a class="page-link" style="background-color: rgb(130, 106, 251);color:#fff; " href="{{ path('liste_ristournes',{page: page-1, nbre:nbre}) }}">Previous</a></li>
                    {% endif %}
                    {% for i in range(1, nbrePage) %}
                        <li class="page-item"><a class="page-link" href="{{ path('liste_ristournes',{page: i, nbre:nbre}) }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if page !=nbre %}
                        <li class="page-item"><a class="page-link"  style="background-color: rgb(130, 106, 251);color:#fff; " href="{{ path('liste_ristournes',{page: page+1, nbre:nbre}) }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}
{% block PageTitre %}
    La liste des ristournes
{% endblock %}

