
{% extends 'template.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}
{% block PageTitre %}
    Ajouter un site
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_row(form.adresse) }}</div>
        <div class="col">{{ form_row(form.montantJournalier) }}</div>
        <div class="col">{{ form_row(form.montantMensuel) }}</div>
        <div class="col">{{ form_row(form.montantAnnuel) }}</div>
    </div>
    {{ form_rest(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}