{% extends 'template.html.twig' %}
{% block body %}
    <main>

        <section class="py-6 text-center container-xl text-bg-primary   ">
            <h1>Tableau de bord Taxe Municipale : </h1>
            <div class="row ">
                <div class="col-xl-4 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body text-bg-success fs-4">Montant Journalier</div>
                        <div class="card-footer  justify-content-between">
                            <h4 class="text-center" >{{ totalMontantJournalier|number_format(0, ' ', ' ', ) }} Fcfa</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6  ">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body text-bg-success fs-4">Montant Mensuel</div>
                        <div class="card-footer  justify-content-between">
                            <h4 class="text-center" >{{ totalMontantMensuel|number_format(0, ' ', ' ', ) }} Fcfa</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body text-bg-success fs-4">Montant annuel</div>
                        <div class="card-footer  justify-content-between">
                            <h4 class="text-center" >{{ totalAnnualMontant|number_format(0, ' ', ' ', ) }} Fcfa</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row ">
                    <div class="col">
                        <div class="card h-100 shadow-sm border-light">
                            <div class="card-header text-center bg-primary text-white border-success">
                                <h5 class="mb-0">Gestion Des Ressources Propres</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ce module contient toutes les informations relatives aux ressources propres, y compris leur gestion et leurs caractéristiques.</p>
                            </div>
                            <div class="card-footer bg-light text-center">
                                <a href="#" class="btn btn-primary">VOIR</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm border-light">
                            <div class="card-header text-center bg-primary text-white border-success">
                                <h5 class="mb-0">Gestion Des Sites de Collectes</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ce module contient toutes les informations relatives aux sites de collecte, y compris leur gestion et leur organisation.</p>
                            </div>
                            <div class="card-footer bg-light text-center">
                                <a href="{{ path('liste_site_collecte') }}" class="btn btn-primary">VOIR</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm border-light">
                            <div class="card-header text-white text-center bg-primary border-bottom border-light">
                                <h5 class="mb-0">Gestion Des Agents Collectes</h5>
                            </div>
                            <div class="card-body">

                                <p class="card-text">Ce module contient toutes les informations relatives aux agents de collecte, y compris leur gestion et leurs fonctions.</p>
                            </div>
                            <div class="card-footer bg-light text-center">
                                <a href="{{ path('list_agent') }}" class="btn btn-primary">VOIR</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm border-light">
                            <div class="card-header text-white text-center bg-primary border-success">
                                <h5 class="mb-0">Gestion Des Contributeurs</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Ce module contient tout ce qui est relatif aux contributeurs, y compris la gestion et les détails associés.</p>
                            </div>
                            <div class="card-footer bg-light text-center">
                                <a href="{{ path('liste_contributeur') }}" class="btn btn-primary">VOIR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script src="{{ asset('js/scripts.js') }}"></script>

{% endblock %}