
{% extends 'template.html.twig' %}

{% block title %}Impot Tom!{% endblock %}

{% block body %}

    <div class=" m-3">
        <table class="table table-striped">
            <thead class="text-center " style="background-color: rgb(130, 106, 251);color:#fff;">
            <tr>
                <th scope="col">Proprietaire</th>
                <th scope="col">Nom</th>
                <th scope="col">Montant</th>
                <th scope="col">Date</th>
                <th scope="col">Details</th>
                <th scope="col">Modifier</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %} 
                <th scope="col">Supprimer</th>
                {% endif  %} 
            </tr>
            </thead>
            <tbody class="text-center">
            {% for impotTOM in impotTOMs %}
                <tr>

                    <td>{{ impotTOM.propriete ? impotTOM.propriete.nom  }} {{ impotTOM.propriete ? impotTOM.propriete.prenom  }}</td>
                    <td>{{ impotTOM.nom }}</td>
                    <td>{{ impotTOM.montant|number_format(0, ',', ' ') }} fcfa</td>
                    <td>{{ impotTOM.date|date('d/m/y ') }}</td>
                    <td><a href="{{path('detail_impot_tom', {propriete_id: impotTOM.propriete.id})}}" class="btn btn-primary mt-2"><i class="fa-solid fa-circle-info"></i></a></td>
                    <td><a href="{{ path('edit_impot_tom',{id: impotTOM.id}) }}" class="btn btn-primary mt-2"> <i class="fa-solid fa-user-pen"></i></a></td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %} 
                     <td><a href="{{ path('delete_impot_tom', {id: impotTOM.id}) }}" class="btn btn-danger mt-2"
                      onclick="return confirm('Etes-vous sur de suprimer cet impotTom')">
                     <i class="fa-solid fa-trash"></i></a></td>
                    {% endif  %} 
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block PageTitre %}
    La liste d'impot TOM
{% endblock %}

