{% extends 'template.html.twig' %}

{% block title %}Les Impots caiptations!{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-grid gap-7 col-2 mx-xxl-6">
            <a href="{{ path('edit_impot_capitation') }}" class="btn bg-info" ><strong>Ajouter impotcapitation</strong></a>
        </div>
    </div>
    <div class=" m-3">
        <table class="table table-bordered">
            <thead class="text-center " style="background-color: rgb(130, 106, 251);color:#fff;">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date</th>
                <th scope="col">MontantJournalier</th>
                <th scope="col">MontantMensuel</th>
                <th scope="col">MontantAnnuel</th>
                <th scope="col">Sites</th>
                <th scope="col">Details</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody class="text-center">
            {% for impotCapitation in impotCapitations %}
                <tr>
                    <td>{{ impotCapitation.nom }}</td>
                    <td>{{ impotCapitation.date|date('d/m/y ') }}</td>
                    <td>{{ impotCapitation.montantCumuleJournalier }}</td>
                    <td>{{ impotCapitation.montantCumuleMensuel }}</td>
                    <td>{{ impotCapitation.montantCumuleAnnuel }}</td>
                    <td>{% for site in impotCapitation.site %}
                            {{ site.nom }}
                        {% endfor %}
                    </td>
                    <td><a href="#" class="btn btn-primary mt-2"><i class="fa-solid fa-circle-info"></i></a></td>
                    <td><a href="{{ path('edit_impot_capitation', {id:impotCapitation.id }) }}" class="btn btn-primary mt-2"> <i class="fa-solid fa-user-pen"></i></a></td>
                    <td><a href="{{ path('delete_impot_capitation',{id:impotCapitation.id}) }}" class="btn btn-danger mt-2"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if isPaginated %}
        <div class="row mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page != 1 %}
                        <li class="page-item"><a class="page-link" style="background-color: rgb(130, 106, 251);color:#fff;" href="{{ path('liste_impot_capitation',{page: page-1, nbre:nbre}) }}">Previous</a></li>
                    {% endif %}
                    {% for i in range(1, nbrePage) %}
                        <li class="page-item"><a class="page-link" href="{{ path('liste_impot_capitation',{page: i, nbre:nbre}) }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if page !=nbre %}
                        <li class="page-item"><a class="page-link" style="background-color: rgb(130, 106, 251);color:#fff;" href="{{ path('liste_impot_capitation',{page: page+1, nbre:nbre}) }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}
{% block PageTitre %}
    La liste des impots capitations
{% endblock %}

