 {% extends 'template.html.twig' %}

    {% block title %}Hello Contributeur!{% endblock %}

    {%block PageTitre %}
        Liste des Contributeurs
    {% endblock %}

    {% block body %}
    <div class="d-flex justify-content-center ">
      <a href="{{ path('edit_contributeur') }}" class="btn btn-primary btn-lg ms-2"><strong>Ajouter un contributeur</strong></a>
    </div>
 <div class=" m-3 mt-3">
        <table class="table table-striped">
            <thead class="text-center px-sm-0" style="background-color: rgb(130, 106, 251);color:#fff;">
            <tr>
               <th scope="col">Numero</th>
                <th scope="col">Nom </th>
                <th scope="col">prenom</th>
                <th scope="col">Date</th>
                <th scope="col">MontantJour</th>
                <th scope="col">MontantMois</th>
                <th scope="col">Sites</th>
                <th scope="col">Details</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody class="text-center">
            {% for contributeur in contributeurs %}
                <tr>
                    <td>{{ contributeur.numeroEtablissement}}</td>
                    <td>{{ contributeur.nom}}</td>
                    <td>{{contributeur.prenom}}</td>
                    <td>{{ contributeur.datePaye|date('Y-m-d') }}</td>
                    <td>{{contributeur.montantJour }}FCFA</td>
                    <td>{{ contributeur.montantMois}}FCFA</td>
                    <td>{{ contributeur.sitecollecte ? contributeur.sitecollecte.nom : 'N/A' }}</td>
                    <td><a href="#" class="btn btn-primary mt-2"><i class="fa-solid fa-circle-info"></i></a></td>
                    <td><a href="{{ path('edit_contributeur',{id: contributeur.id}) }}" class="btn btn-primary "> <i class="fa-solid fa-user-pen"></i></a></td>
                    <td><a href="{{ path('delete_contributeur',{id: contributeur.id}) }}" class="btn btn-danger " onclick="return confirm('Etes-vous sur de suprimer ce contributeur')"><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
 </div>
        {% if isPaginated %}
            <div class="row mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page != 1 %}
                            <li class="page-item"><a class="page-link" style="background-color: rgb(130, 106, 251);color:#fff;"href="{{ path('liste_contributeur',{page: page-1, nbre:nbre}) }}">Previous</a></li>
                        {% endif %}
                        {% for i in range(1, nbrePage) %}
                            <li class="page-item"><a class="page-link" href="{{ path('liste_contributeur',{page: i, nbre:nbre}) }}">{{ i }}</a></li>
                        {% endfor %}
                        {% if page !=nbre %}
                            <li class="page-item"><a class="page-link" style="background-color: rgb(130, 106, 251);color:#fff;" href="{{ path('liste_contributeur',{page: page+1, nbre:nbre}) }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    {% endblock %}




