 {% extends 'template.html.twig' %}

    {% block title %}Hello Contributeur!{% endblock %}

    {%block PageTitre %}
        Liste des Contributeurs
    {% endblock %}

    {% block body %}
     <div class="container">
         <div class="d-grid gap-7 col-2 mx-xxl-6">
             <a href="{{ path('edit_contributeur') }}" class="btn bg-info" ><strong>AjouterContributeur</strong></a>
         </div>
     </div>
 <div class=" m-3">
        <table class="table table-bordered">
            <thead class="text-center px-sm-0" style="background-color: rgb(130, 106, 251);color:#fff;">
            <tr>
                <th scope="col">Nom </th>
                <th scope="col">prenom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Date</th>
                <th scope="col">MontantJ</th>
                <th scope="col">MontantM</th>
                <th scope="col">MontantA</th>
                <th scope="col">Sites</th>
                <th scope="col">Details</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody class="text-center">
            {% for contributeur in contributeurs %}
                <tr>
                    <td>{{ contributeur.nom}}</td>
                    <td>{{contributeur.prenom}}</td>
                    <td>{{ contributeur.adresse }}</td>
                    <td>{{ contributeur.telephone }}</td>
                    <td>{{ contributeur.datePaye|date('Y-m-d') }}</td>
                    <td>{{contributeur.montantJournalier }}FCFA</td>
                    <td>{{ contributeur.montantMensuel}}FCFA</td>
                    <td>{{ contributeur.montantAnnuel}}FCFA</td>
                    <td>{% for site in contributeur.sites %}
                            {{ site.nom}}
                        {% endfor %}
                    </td>
                    <td><a href="#" class="btn btn-primary mt-2"><i class="fa-solid fa-circle-info"></i></a></td>
                    <td><a href="{{ path('edit_contributeur',{id: contributeur.id}) }}" class="btn btn-primary "> <i class="fa-solid fa-user-pen"></i></a></td>
                    <td><a href="{{ path('delete_contributeur',{id: contributeur.id}) }}" class="btn btn-danger "><i class="fa-solid fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
 </div>
        {% if isPaginated %}
            <div class="row mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page != 1 %}
                            <li class="page-item"><a class="page-link" style="background-color: rgb(130, 106, 251);color:#fff;"href="{{ path('liste_contributeur',{page: page-1, nbre:nbre}) }}">Previous</a></li>
                        {% endif %}
                        {% for i in range(1, nbrePage) %}
                            <li class="page-item"><a class="page-link" href="{{ path('liste_contributeur',{page: i, nbre:nbre}) }}">{{ i }}</a></li>
                        {% endfor %}
                        {% if page !=nbre %}
                            <li class="page-item"><a class="page-link" style="background-color: rgb(130, 106, 251);color:#fff;" href="{{ path('liste_contributeur',{page: page+1, nbre:nbre}) }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    {% endblock %}




