{% extends 'template.html.twig' %}

{% block title %}Hello SiteCollecteController!{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <thead class="text-center " style="background-color: rgb(130, 106, 251);color:#fff;">
        <tr>
            <th scope="col" >Id</th>
            <th scope="col">Nom </th>
            <th scope="col">Adresse</th>
            <th scope="col">MontantJ</th>
            <th scope="col">MontantM</th>
            <th scope="col">MontantA</th>
            <th scope="col">Details</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>

        </tr>
        </thead>
        <tbody class="text-center">
        {% for siteCollecte in siteCollectes %}
            <tr>
                <th scope="row">{{ siteCollecte.id }}</th>
                <td>{{siteCollecte.nom}}</td>
                <td>{{ siteCollecte.adresse}}</td>
                <td>{{ siteCollecte.montantJournalier }}</td>
                <td>{{ siteCollecte.montantMensuel }}</td>
                <td>{{ siteCollecte.montantAnnuel}}</td>
                <td><a href="#" class="btn btn-primary mt-2"><i class="fa-solid fa-circle-info"></i></a></td>
                <td><a href="{{ path('edit_site_collecte',{id: siteCollecte.id}) }}" class="btn btn-primary "> <i class="fa-solid fa-user-pen"></i></a></td>
                <td><a href="{{ path('delete_site',{id: siteCollecte.id}) }}" class="btn btn-danger "><i class="fa-solid fa-trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if isPaginated %}
        <div class="row mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page != 1 %}
                        <li class="page-item"><a class="page-link" style="background-color: rgb(130, 106, 251);color:#fff;" href="{{ path('liste_site_collecte',{page: page-1, nbre:nbre}) }}">Previous</a></li>
                    {% endif %}
                    {% for i in range(1, nbrePage) %}
                        <li class="page-item"><a class="page-link" href="{{ path('liste_site_collecte',{page: i, nbre:nbre}) }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if page !=nbre %}
                        <li class="page-item"><a class="page-link" style="background-color: rgb(130, 106, 251);color:#fff;" href="{{ path('liste_site_collecte',{page: page+1, nbre:nbre}) }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}
