{% extends 'template.html.twig' %}

{% block title %}Typeimpots!{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <thead class="text-center " style="background-color: rgb(130, 106, 251);color:#fff;">
        <tr>
            <th scope="col">Nom </th>
            <th scope="col">MontantJ</th>
            <th scope="col">MontantM</th>
            <th scope="col">MontantA</th>
            <th scope="col">Ressources</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for type in types %}
            <tr>
                <td>{{ type.nomImpot }}</td>
                <td>{{ type.montantCumuleJour }}</td>
                <td>{{ type.montantCumuleMoi }}</td>
                <td>{{ type.montantCumuleAnnee }}</td>
                <td>{% for ressource in type.ressources  %}
                        {{ ressource.type }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
