{% extends 'template.html.twig' %}
{% block titre %}
    Page de ressource propre
{% endblock %}

{% block PageTitre %}
    Liste des ressources propres
{% endblock %}

{% block body %}

    <table class="table table-bordered">
        <thead class="text-center" style="background-color: rgb(130, 106, 251);color:#fff;">
        <tr>
            <th scope="col" >Id</th>
            <th scope="col">Type</th>
            <th scope="col">Sites</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>

        </tr>
        </thead>
        <tbody class="text-center">
        {% for ressource in ressources %}
        <tr>
            <th scope="row">{{ ressource.id  }}</th>
            <td><a href="{{ path('datails_ressource') }}">{{ ressource.type }}</a></td>
            <td>{% for site in ressource.sites %}
                    {{ site.nom }}
                {% endfor %}
            </td>
            <td><a href="{{ path('edit_ressource',{id: ressource.id}) }}" class="btn btn-primary mt-2"> <i class="fa-solid fa-user-pen"></i></a></td>
            <td><a href="{{ path('delete_ressource',{id: ressource.id}) }}" class="btn btn-danger mt-2"><i class="fa-solid fa-trash"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}



