{% extends '/template.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_row(form.NomP) }}</div>
        <div class="col">{{ form_row(form.valeurLocative) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.region) }}</div>
        <div class="col">{{ form_row(form.taux) }}</div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block title %}

{% endblock %}

{% block PageTitre  %}
    <h2>Create new TOM</h2>
{% endblock %}