{% extends 'template.html.twig' %}

{% block body %}
    <h1>Calcul des Taxes</h1>

    {{ form_start(form) }}
    {{ form_row(form.montant) }}
    {{ form_row(form.valeurLocative) }}
    {{ form_row(form.typeBatiment) }}
    {{ form_row(form.region) }}
    {{ form_row(form.valeurVenale) }}

    <button class="btn btn-primary">Calculer</button>
    {{ form_end(form) }}
{% endblock %}

{% block PageTitre %}
    Ajouter une Taxe
{% endblock %}

{% block titreitre %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}


