{% extends 'template.html.twig' %}

{% block title %}Hello AgentCollecteController!{% endblock %}

{%block PageTitre %}
    Liste des Agents de collectes
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center ">
    <a href="{{ path('edit_agent') }}" class="btn btn-primary btn-lg ms-2"><strong>Ajouter Agent de collecte</strong></a>
</div>
<div class="m-3 mt-3">
    <table class="table table-striped">
        <thead class="text-center" style="background-color: rgb(130, 106, 251);color:#fff;">
        <tr>
            <th scope="col">Nom </th>
            <th scope="col">prenom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Date</th>
            <th scope="col">MontantJ</th>
            <th scope="col">MontantM</th>
            <th scope="col">Montant</th>
            <th scope="col">Sites</th>
            <th scope="col">Details</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for agentCollecte in agentCollectes %}
            <tr>
                <td>{{ agentCollecte.nom }}</td>
                <td>{{ agentCollecte.prenom }}</td>
                <td>{{ agentCollecte.telephone }}</td>
                <td>{{ agentCollecte.date|date('Y-m-d') }}</td>
                <td>{{ agentCollecte.montantJournalier }} FCFA</td>
                <td>{{ agentCollecte.montantMensuel }} FCFA</td>
                <td>{{ agentCollecte.montantAnnuel }} FCFA</td>
                <td>{% for site in agentCollecte.sites %}
                      {{ site.nom }}
                    {% endfor %}
                </td>
                <td><a href="#" class="btn btn-primary mt-2"><i class="fa-solid fa-circle-info"></i></a></td>
                <td><a href="{{ path('edit_agent', {id: agentCollecte.id}) }}" class="btn btn-primary"><i class="fa-solid fa-user-pen"></i></a></td>
                <td><a href="{{ path('delete_agent', {id: agentCollecte.id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sur de suprimer cet agent')"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if isPaginated %}
    <div class="row mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page != 1 %}
                    <li class="page-item"><a class="page-link" style="background-color: rgb(130, 106, 251);color:#fff;" href="{{ path('list_agent', {page: page-1, nbre: nbre}) }}">Previous</a></li>
                {% endif %}
                {% for i in range(1, nbrePage) %}
                    <li class="page-item"><a class="page-link" href="{{ path('list_agent', {page: i, nbre: nbre}) }}">{{ i }}</a></li>
                {% endfor %}
                {% if page != nbre %}
                    <li class="page-item"><a class="page-link" style="background-color: rgb(130, 106, 251);color:#fff;" href="{{ path('list_agent', {page: page+1, nbre: nbre}) }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}
{% endblock %}
