{% extends 'template.html.twig' %}

{% block body %}
    <table id="users" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Personne</th>
            <th scope="col">Nom</th>
            <th scope="col">Montant</th>
            <th scope="col">Date</th>
            <th scope="col">Detail</th>
            <th scope="col">Modifier</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %} 
             <th scope="col">Supprimer</th>
            {% endif %} 
        </tr>
        </thead>
        <tbody>
        {% for impotMiniFiscal in impotMiniFiscals %}
            <tr>
                <td>{{ impotMiniFiscal.propriete ? impotMiniFiscal.propriete.nom }} {{impotMiniFiscal.propriete ? impotMiniFiscal.propriete.prenom  }}</td>
                <td>{{impotMiniFiscal.nom }}</td>
                <td> {{impotMiniFiscal.montant|number_format(0, ',', ' ') }} fcfa</td>
                <td> {{impotMiniFiscal.date|date('d/m/y ') }}</td>
                <td><a href="{{path('detail_impot_mini_fiscal',{propriete_id: impotMiniFiscal.propriete.id} )}}" class="btn btn-primary mt-2"><i class="fa-solid fa-circle-info"></i></a></td>
                <td><a href="{{ path('edit_impot_mini_fiscal', {id: impotMiniFiscal.id }) }}" class="btn btn-primary mt-2"> <i class="fa-solid fa-user-pen"></i></a></td>
                {% if is_granted('ROLE_SUPER_ADMIN') %} 
                 <td><a href="{{ path('delete_impot_mini_fiscale',{id: impotMiniFiscal.id}) }}" class="btn btn-danger mt-2" 
                 onclick="return confirm('Etes-vous sur de suprimer cet impot Mini fiscale')">
                 <i class="fa-solid fa-trash"></i></a></td>
                {% endif  %} 
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block title %}
  Liste des impotsIMF
{% endblock %}

{% block PageTitre %}
     Liste des impotsIMF
{% endblock %}


