
{% extends 'template.html.twig' %}

{% block body %}
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col">{{ form_row(form.typeBatiment) }}</div>
        <div class="col">{{ form_row(form.valeurLocative) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_row(form.montant )}}</div>
        <div class="col">{{ form_row(form.date) }}</div>
    </div>
    {{ form_rest(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}

{% block title %}
{% endblock %}
{% block PageTitre %}
    Ajoute de l'Impôt CFPB
{% endblock %}


